* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
.container {
	background: #f4f8fc;
	font-family: 'PT Serif', serif;
	/* width: 100%; */
	/* background-color: red; */
	overflow: hidden;
}
.header {
	height: 500px;
	display: flex;
	align-items: center; /*put it in the center horizontally */
	justify-content: center;
	border: 1px solid yellow;
	/* display: grid;
	grid-template-columns: repeat(2, 1fr); */
}
.header .left {
	padding: 2rem;
	padding-left: 3rem;
	text-align: left;
	/* width: 100%; */
}
.left .title {
	font-size: 2.5rem;
}
.left p {
	margin-top: 3.5rem;
	font-size: 0.9rem;
	line-height: 1.6rem;
}
.left .btn_container {
	margin-top: 3rem;
	display: flex;
}
.left .btn_container .btn {
	width: 5rem;
	padding: 0.6rem;
	/* background-color: red; */
	margin-right: 2rem;
	border-radius: 0.2rem;
	color: whitesmoke;
	font-size: 0.8rem;
	text-align: center;
	box-shadow: 3px 3px 7px 1px rgb(73, 72, 72); /*right, bottom, blur, spread*/
}

.left .btn_container .active {
	background-color: #499bfd;
}
.left .btn_container .inactive {
	color: #499bfd;
}

.header .right {
}
.header .right img {
	/* width: 100%; */
}
.content {
	height: 100vh;
	/* background-color: red; */
	display: grid;
	place-items: center;
}

.content .wrapper {
	width: 1200px;
	height: 500px;
	/* background-color: #499bfd; */
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
}

.content .wrapper .box {
	background-color: black;
	height: 250px;
}
.content .wrapper .box img {
	width: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.header .right {
		display: none;
	}
}
@media only screen and (max-width: 700px) {
	.header .right {
		display: none;
	}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	/* .header .right {
		display: none;
	} */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
